@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sudeep Project</h1>
    <p> Learn About <a href="https://certificates.ccbp.in/intensive/static-website?id=AYSHAICHWH">Sudeep Static Website</a>.</p>
    <p> Learn About <a href="https://certificates.ccbp.in/intensive/responsive-website?id=YNQAUXSLBM">Sudeep Responsive Website</a>.</p>
</div>
